<div id="page-container" styles="min-height: 100%;">
  <app-header-login></app-header-login>
  <div id="page-body">
    <div id="page-title"> Survey </div>
    <div class="container">
      <div>
        <h4 class="modal-title text-center tc2" id="modalDCLabel">Pour mieux vous servir, merci de bien vouloir répondre
          au questionnaire de satisfaction client</h4>
      </div>
      <hr class="hr-mob-top gradient-horizontal-primary">
      <table class="table table-striped" id="tableMvts">
        <tbody>
          <tr *ngFor="let s of survey,let $index = index;" >
            <td class="ts3">
              <div class="pull-left">{{s.question}}</div>
              <div class="pull-right gras mnt-neg">
                
                    <div  (click)='mark($index,s)'>
                <app-star-rating [maxScore]="5" [forDisplay]="false" (rateChanged)="onRateChange($event)" >
                    
                </app-star-rating>

               
              </div>
              Rating
              </div>

            </td>

          </tr>



        </tbody>
      </table>

      <div class="modal-footer">

        <button type="button" class="btn btn-default btn-lg btnvalider " data-dismiss="modal">Valider
        </button>
      </div>

    </div>
    <div class="container-fluid" style="position: relative; bottom:-30px !important" *ngIf="resultCode === '0000'">

    </div>
  </div>
</div>
<app-page-footer></app-page-footer>