<div id="page-container" styles="min-height: 100%;">
    <app-header-login></app-header-login>
    <div id="page-body">
        <div id="page-title"> {{"sicavList" |translate}}</div>
        <div class="container-fluid">
            <div class="tc2"> {{intitulCarte}} </div>
            <br>
            <table id="data-table" class="table table-striped table-bordered nowrap" width="100%">
                <thead>
                <tr>
                  <th>OPCVM Attijari</th>
                  <th>VL jour </th>
                  <th>VL veille</th>
                </tr>
                </thead>
                <tbody>
  
                <tr *ngFor="let sicavValue of sicavValues"  class="odd gradeX">
  
                  <td style="width: 10%;">{{sicavValue.mutualFund}}</td>
                  <td style="width: 5%;">{{sicavValue.dayAv}}</td>
                  <td style="width: 15%;">{{sicavValue.prevDayAv}}</td>
                  
  
                </tr>
  
                </tbody>
              </table>
  
            <app-load-page *ngIf="load"></app-load-page>
            <app-page-footer></app-page-footer>
        </div>