<div id="modal-load" style="  position:fixed;
        top: 50%;
        left: 50%;
        width:30em;
        height:18em;
        margin-top: -6em; /*set to a negative number 1/2 of your height*/
        margin-left: -15em; /*set to a negative number 1/2 of your width*/
z-index:1041;  ">
    <div class="modal-dialog" id="modal-dialog-load">
        <div class="modal-content">
            <div class="modal-body" id="modal-body-load">
                <div class="text-center">
                    <img src="assets/images/mob_load.gif" height="50" width="50" alt="load">
                </div>
                <div class="text-center">{{"loadPage" |translate}}
                </div>
                <div class="text-center">{{"pleaseWait" |translate}}</div>
            </div>
        </div>
    </div>
</div>
<div class="modal-backdrop fade in" style="
	z-index:1040 !important"></div>