<div [@dialog] *ngIf="show">
    <div class="bootbox modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{"warning" |translate}}</h4>
                </div>
                <div class="modal-body">
                
                    <div  *ngIf="invalidMail" class="bootbox-body">
                            Email is missing or incorrect
                             </div>
                    <div  *ngIf="invalidPhone" class="bootbox-body">
                       Phone number is missing or incorrect
                    </div>
                    <div  *ngIf="commencewithchar" class="bootbox-body">
                       le numéro du téléphone ne doit pas commencer par un caractere !
                     </div>
                </div>
                <div class="modal-footer">
                    <button (click)="close()" data-bb-handler="btn" type="button"
                        class="btn btnvalider btn btn-default btn-lg">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade in"></div>
</div>