<div [@dialog] *ngIf="show">
    <div class="bootbox modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{"warning" |translate}}</h4>
                </div>
                <div class="modal-body">
                
                    <div  *ngIf="invalidMail" class="bootbox-body">
                            Email is missing or incorrect
                             </div>
                    <div  *ngIf="invalidPhone" class="bootbox-body">
                       Phone number is missing or incorrect
                    </div>
                
                     <div  *ngIf="invalidOtherProfession" class="bootbox-body">
                            Profession field is missing or incorrect
                         </div>
                         <div  *ngIf="invalidProfession" class="bootbox-body">
                            Profession field is missing or incorrect
                         </div>

                      <div  *ngIf="invalidIncedentDate" class="bootbox-body">
                   Please choose Incedent date
                    </div>

                    <div  *ngIf="invalidDescription" class="bootbox-body">
                            Description field is missing or incorrect 
                             </div>


                             <div  *ngIf="invalidAccount" class="bootbox-body">
                                Account field is missing 
                                 </div>
                                 <div  *ngIf="invalidClient" class="bootbox-body">
                                    Client field is missing 
                                     </div>

                             <div  *ngIf="invalidComplaintObject" class="bootbox-body">
                                    Please choose the object of your complaint
                                     </div>


                                     
                             <div  *ngIf="Notdeleted" class="bootbox-body">
                                   la suppression est echouée!!
                                     </div>
                                              
                             <div  *ngIf="deleted" class="bootbox-body">
                                la suppression est effectuée avec succée!!
                                  </div>

                                  <div  *ngIf="affecte" class="bootbox-body">
                                    la modification sur cette réclamation ne peut pas etre effectuée car la réclamation est affectée à la banque!
                                      </div>
                                      <div  *ngIf="invalidResponse" class="bootbox-body">
                                       Merci de répondre à tousd les questions!!
                                          </div>
                                      

                </div>
                <div class="modal-footer">
                    <button (click)="close()" data-bb-handler="btn" type="button"
                        class="btn btnvalider btn btn-default btn-lg">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade in"></div>
</div>