<header id="header-not-login">
        <div class="pull-left">
                <a class="menu-icon" (click)="slideIn()" type="submit">
                        <div class="bar"> </div>
                        <div class="bar"> </div>
                        <div class="bar"> </div>
                </a>
        </div>
        <div class="bg-header width100"><img src="assets/images/mob_logo.png" id=18968 alt="logo"></div>
</header>
<app-slide-in-login *ngIf="slide" [(slide)]="slide"></app-slide-in-login>